<title>NikeStyleSite</title>
{% extends "navbar.html" %}
  {% block content %}
  <div class="container" id="homepagetext">
    <h1> ABOUT ME </h1>
    <h2> I use such programming environments:</h2>
        <h3>Scratch: <a href="https://scratch.mit.edu/users/Nike_Style/" target="_blank">scratch.mit.edu/users/Nike_Style/</a></h3>
        <h3>Roblox Studio: <a href="https://www.roblox.com/users/3398458274/profile/#!/creations" target="_blank">roblox.com/users/3398458274/profile/#!/creations</a></h3>
        <h3>Soon I'll start programming in Unity</h4><br>
        <h3><a href="https://discord.gg/C55AUnMg">My Discord Server</a></h3>
        <h3><a href="https://nike-style.itch.io/">I'm on itch.io</a></h3>
        <h3><a href="https://github.com/NikeStyleProject">I'm on GitHub</a></h3>
        <h3><a href="https://blog.nikestylesite.pp.ua/">Blog site</a></h3><br>
    <h1>SPECIAL THANKS</h1>
    <h2>Django: <a href="https://www.djangoproject.com/" target="_blank">djangoproject.com</a></h2>
    <h2>CSS</h1>
    <h3>Bootstrap: <a href="https://getbootstrap.com/" target="_blank">getbootstrap.com</a></h2>
    <h2>DOMAIN</h1>
    <h3>NIC.UA: <a href="https://nic.ua" target="_blank">nic.ua</a></h2>
    <h3>PP.UA: <a href="https://pp.ua" target="_blank">pp.ua</a></h2>
  </div>
</div>
{% endblock content %}