  <title>Павлуша Загородній's Profile</title>
  <style>
      body {
  background-color: #ECECEC;;
  }
  </style>

  {% extends "navbar.html" %}
  {% block content %}
  <div class="text-center">
    <img src="https://i.ibb.co/GWvkQ1M/pavlusha-profile2.png" class="rounded mx-auto d-block">
    <img src="https://i.ibb.co/0KDX884/pavlusha-post2.png" class="rounded mx-auto d-block">
    <img src="https://i.ibb.co/sPVZcHb/pavlusha-post1.png" class="rounded mx-auto d-block">
  </div>
  {% endblock content %}