<title>Users</title>

{% extends "navbar.html" %}
{% block content %}
      <div class="card-group">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://wiki.dave.eu/images/4/47/Placeholder.png" class="img-fluid rounded-start" alt="Game image here">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Test Game</h5>
                  <p class="card-text">Play on itch.io</p>
                  <a href="#link-to-game" class="btn btn-primary">Play</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://wiki.dave.eu/images/4/47/Placeholder.png" class="img-fluid rounded-start" alt="Game image here">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Test App</h5>
                      <p class="card-text">Source Code</p>
                      <a href="#link-to-app" class="btn btn-primary">Github</a>
                    </div>
                  </div>
                </div>
              </div>
              <br>
{% endblock content %}